.col-md-4
  .row
    .col-md-10
      .mb-3
        = f.label :vehical_no, "Vehicle no", {class:'form-label'}
        = f.text_field :vehical_no, {class:'form-control', placeholder: 'Vehicle no'}
    .col-md-2
      .mb-3.delete
        = link_to '#', class: 'remove_record_hor' do
          %i.far.fa-times-circle
        = f.hidden_field :_destroy